*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #FFB845;
}

.navbar{
    display: flex;
    flex-direction: row;
    border: solid;
    background-color:#442804;

}


img {
    width: 200px;
}